.features {
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
  width: 100%;
  background: var(--ifm-background-color);
}

.featureSvg {
  height: 180px;
  width: 180px;
  opacity: 0.95;
}
